
<head></head>
<body>
  <h1 class ="title">ようこそ <strong>Bookers</strong> へ！
  
  </h1>
  
  <div class = "body"> <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</div> 
<div class = "body">印象を共有し交換することができます</div>
  
   
<span class="start"><%= link_to "Start", books_path %>
</span>
  
</body>
 